In [15]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('./dataset/train.csv')
df.head()

,时间,小区名,小区房屋出租数量,楼层,总楼层,房屋面积,房屋朝向,居住状态,卧室数量,厅的数量,卫的数量,出租方式,区,位置,地铁线路,地铁站点,距离,装修情况,月租金
0,1,3072,0.128906,2,0.236364,0.008628,东南,NaN,1,1,1,NaN,11.0,118.0,2.0,40.0,0.764167,NaN,5.602716
1,1,3152,0.132812,1,0.381818,0.017046,东,NaN,1,0,0,NaN,10.0,100.0,4.0,58.0,0.709167,NaN,16.977929
2,1,5575,0.042969,0,0.290909,0.010593,东南,NaN,2,1,2,NaN,12.0,130.0,5.0,37.0,0.572500,NaN,8.998302
3,1,3103,0.085938,2,0.581818,0.019199,南,NaN,3,2,2,NaN,7.0,90.0,2.0,63.0,0.658333,NaN,5.602716
4,1,5182,0.214844,0,0.545455,0.010427,东北,NaN,2,1,1,NaN,3.0,31.0,NaN,NaN,NaN,NaN,7.300509

In [47]:
df = df.fillna(df.mean())
print(df.shape)
df_oh = pd.get_dummies(df)
y = df['月租金']
X_ori = df.drop(['月租金','房屋朝向'],axis=1)

# X = pd.get_dummies(X_ori)
X = X_ori
X.head()

(196539, 19)

,时间,小区名,小区房屋出租数量,楼层,总楼层,房屋面积,居住状态,卧室数量,厅的数量,卫的数量,出租方式,区,位置,地铁线路,地铁站点,距离,装修情况
0,1,3072,0.128906,2,0.236364,0.008628,1,1,1,1,1,11,118,2,40,0.764167,1
1,1,3152,0.132812,1,0.381818,0.017046,1,1,0,0,1,10,100,4,58,0.709167,1
2,1,5575,0.0429688,0,0.290909,0.010593,1,2,1,2,1,12,130,5,37,0.5725,1
3,1,3103,0.0859375,2,0.581818,0.019199,1,3,2,2,1,7,90,2,63,0.658333,1
4,1,5182,0.214844,0,0.545455,0.010427,1,2,1,1,1,3,31,1,1,1,1

In [48]:
from sklearn import svm
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
# reg = svm.SVR()
reg = RandomForestRegressor(n_jobs=-1)
reg.fit(X, y, )

# y_pred = reg.predict(X)
# mse = mean_squared_error(y, y_pred)
# mse

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

## test

In [49]:
df = pd.read_csv('./dataset/test.csv')
df.head()

,id,时间,小区名,小区房屋出租数量,楼层,总楼层,房屋面积,房屋朝向,居住状态,卧室数量,厅的数量,卫的数量,出租方式,区,位置,地铁线路,地铁站点,距离,装修情况
0,1,4,6011,0.382812,1,0.600000,0.007117,东,3.0,2,1,1,1.0,10.0,5.0,NaN,NaN,NaN,6.0
1,2,4,1697,0.152344,1,0.472727,0.007448,东,NaN,2,1,1,NaN,3.0,0.0,NaN,NaN,NaN,NaN
2,3,4,754,0.207031,2,0.709091,0.014068,东南,NaN,3,2,2,NaN,10.0,9.0,4.0,74.0,0.400833,NaN
3,4,4,1285,0.011719,0,0.090909,0.008937,南,NaN,2,1,1,NaN,6.0,96.0,5.0,17.0,0.384167,NaN
4,5,4,4984,0.035156,1,0.218182,0.008606,东南,NaN,2,1,1,NaN,6.0,61.0,3.0,114.0,0.598333,NaN

In [52]:
df = df.fillna('0')
print(df.shape)
# df_oh = pd.get_dummies(df)

# X = pd.get_dummies(df)
X = df.drop(['id','房屋朝向'],axis=1)
X.head()

(56279, 19)

,时间,小区名,小区房屋出租数量,楼层,总楼层,房屋面积,居住状态,卧室数量,厅的数量,卫的数量,出租方式,区,位置,地铁线路,地铁站点,距离,装修情况
0,4,6011,0.382812,1,0.600000,0.007117,3,2,1,1,1,10,5,0,0,0,6
1,4,1697,0.152344,1,0.472727,0.007448,0,2,1,1,0,3,0,0,0,0,0
2,4,754,0.207031,2,0.709091,0.014068,0,3,2,2,0,10,9,4,74,0.400833,0
3,4,1285,0.0117188,0,0.090909,0.008937,0,2,1,1,0,6,96,5,17,0.384167,0
4,4,4984,0.0351562,1,0.218182,0.008606,0,2,1,1,0,6,61,3,114,0.598333,0

In [54]:
y_pred = reg.predict(X)
y_pred.shape

(56279,)

In [60]:
with open('output.csv', 'w') as f:
    f.write('id,price'+'\n')
    for i in range(len(y_pred)):
        f.write(str(i+1)+','+str(y_pred[i])+'\n')